.MuiList-padding{

    background-color: white;
   
}

.form2 {
    width: 320px;
    height: 40px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid BLACK;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
  }
  
  .form2:focus {
    font: normal normal bold 16px/19px Helvetica Neue;
    letter-spacing: -0.1px;
    color: #000000;
    border: 3px solid BLACK;
  }